* {
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.continer {
  max-width: 1920px;
}
.continer header {
  width: 100%;
  height: 948px;
  border: 1px solid transparent;
  background-image: url("/images_otlar/background.png");
}
.continer header .navbar {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0 375px;
  margin-top: 10px;
}
.continer header .navbar .logo {
  width: 15%;
  height: 100%;
  padding-top: 35px;
}
.continer header .navbar .nav-list {
  width: 85%;
  height: 100%;
  padding-left: 250px;
}
.continer header .navbar .nav-list ul {
  width: 100%;
  height: 100%;
}
.continer header .navbar .nav-list ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.continer header .navbar .nav-list ul li a {
  color: black;
}
.continer header .navbar .nav-list ul li a:hover {
  border-bottom: 2px solid #008139;
  margin-bottom: -10px;
}
.continer header .navbar .nav-list ul li span {
  display: flex;
}
.continer header .navbar .nav-list ul li span i {
  color: #008139;
}
.continer header .navbar .nav-list ul li .tel-nomer {
  margin-right: 0px;
}
.continer header .header-bottom {
  width: 100%;
  padding: 0 375px;
}
.continer header .header-bottom ul {
  width: 100%;
  display: flex;
  height: 700px;
}
.continer header .header-bottom ul .bottom-item-1 {
  width: 50%;
}
.continer header .header-bottom ul .bottom-item-1 h2 {
  font-size: 57px;
  width: 613px;
  height: 122px;
  margin-top: 100px;
  font-family: "Philosopher";
}
.continer header .header-bottom ul .bottom-item-1 p {
  width: 550px;
  height: 68px;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 24px;
  font-family: "Alegreya Sans";
  color: #646464;
}
.continer header .header-bottom ul .bottom-item-1 p span {
  color: black;
}
.continer header .header-bottom ul .bottom-item-1 button {
  width: 270px;
  height: 70px;
  margin-top: 50px;
  font-size: 15px;
  font-family: "Montserrat";
  border: none;
  color: #6A5300;
  background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
  box-shadow: 0px 4px 0px #C89C00;
  border-radius: 10px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.continer header .header-bottom ul .bottom-item-1 .rasm-left {
  width: 211px;
  height: 435px;
  margin-top: 40px;
  margin-left: -646px;
  position: absolute;
}
.continer header .header-bottom ul .bottom-item-1 .rasm-right {
  width: 167px;
  height: 632px;
  margin-top: -150px;
  margin-left: 1106px;
  position: absolute;
}
.continer header .header-bottom ul .bottom-item-2 {
  width: 50%;
}
.continer header .header-bottom ul .bottom-item-2 .qushlar {
  width: 272px;
  height: 86px;
  margin-top: 90px;
  margin-left: 450px;
}
.continer header .header-bottom ul .bottom-item-2 .header-horse {
  width: 557px;
  height: 671px;
  margin-top: -65px;
  margin-left: 15px;
}
.continer header img {
  width: 100%;
  margin-top: -80px;
}
.continer main {
  width: 100%;
}
.continer main .bizning-kulub {
  width: 100%;
  height: 654px;
}
.continer main .bizning-kulub .klub-text {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Philosopher";
}
.continer main .bizning-kulub ul {
  width: 100%;
  height: 90%;
  display: flex;
}
.continer main .bizning-kulub ul .klub-item1 {
  margin-top: 50px;
  width: 50%;
}
.continer main .bizning-kulub ul .klub-item1 img {
  margin-left: 120px;
}
.continer main .bizning-kulub ul .klub-item2 {
  width: 50%;
  margin-top: 50px;
  margin-left: 0;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list {
  width: 541px;
  height: 141px;
  display: flex;
  margin-left: 50px;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list .item2-item2 {
  width: 200px;
  height: 117px;
  margin-left: 0;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list .item2-item2 p {
  width: 108px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 67px;
  margin-left: 0;
  color: #008139;
  font-size: 42px;
  font-family: "Philosopher";
}
.continer main .bizning-kulub ul .klub-item2 .item2-list .item2-item2 h4 {
  height: 50px;
  width: 100%;
  font-family: "Roboto";
  display: flex;
  align-items: center;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list .item2-item22 {
  width: 200px;
  height: 117px;
  margin-right: 0;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list .item2-item22 p {
  width: 108px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 67px;
  margin-left: 0;
  color: #008139;
  font-size: 42px;
  font-family: "Philosopher";
}
.continer main .bizning-kulub ul .klub-item2 .item2-list .item2-item22 h4 {
  height: 50px;
  width: 100%;
  font-family: "Roboto";
  display: flex;
  align-items: center;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list2 {
  width: 541px;
  height: 150px;
  display: flex;
  margin-left: 50px;
  margin-bottom: 50px;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list2 .item2-item3 {
  width: 200px;
  height: 117px;
  margin-left: 0;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list2 .item2-item3 p {
  width: 108px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 67px;
  margin-left: 0px;
  color: #008139;
  font-size: 42px;
  font-family: "Philosopher";
}
.continer main .bizning-kulub ul .klub-item2 .item2-list2 .item2-item3 h4 {
  height: 80px;
  width: 100%;
  font-family: "Roboto";
  display: flex;
  align-items: center;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list2 .item2-item33 {
  width: 200px;
  height: 117px;
  margin-right: 0;
}
.continer main .bizning-kulub ul .klub-item2 .item2-list2 .item2-item33 p {
  width: 108px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 67px;
  margin-left: 0px;
  color: #008139;
  font-size: 42px;
  font-family: "Philosopher";
}
.continer main .bizning-kulub ul .klub-item2 .item2-list2 .item2-item33 h4 {
  height: 80px;
  width: 100%;
  font-family: "Roboto";
  display: flex;
  align-items: center;
}
.continer main .bizning-kulub ul .klub-item2 p {
  width: 540px;
  margin-left: 50px;
  color: #7E7E7E;
  font-family: "Roboto";
}
.continer main .tanlash-sabablari {
  width: 100%;
  height: 400px;
  margin-top: 150px;
}
.continer main .tanlash-sabablari .sabab-text {
  width: 1171px;
  font-size: 40px;
  text-align: center;
  font-family: "Philosopher";
  margin-top: 30px;
}
.continer main .tanlash-sabablari .sabab-p {
  width: 1171px;
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto";
  color: #7E7E7E;
}
.continer main .tanlash-sabablari ul {
  margin-top: 30px;
  width: 1171px;
  display: flex;
}
.continer main .tanlash-sabablari ul li {
  width: 271px;
  text-align: center;
  border: 1px solid #e7dede;
  border-radius: 5px;
}
.continer main .tanlash-sabablari ul li img {
  width: 140px;
  height: 130px;
}
.continer main .tanlash-sabablari ul li h4 {
  width: 100%;
  margin-top: 5px;
  font-family: "Roboto";
}
.continer main .tanlash-sabablari ul li p {
  width: 100%;
  margin-top: 15px;
  font-family: "Roboto";
  color: #7E7E7E;
}
.continer main .tanlash-sabablari ul li:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.continer main .klub-joylari {
  width: 100%;
  height: 1598px;
  margin-top: 50px;
  background-image: url("/images_otlar/gazon 2.png");
}
.continer main .klub-joylari .joylar-p1 {
  width: 100%;
  height: 244px;
}
.continer main .klub-joylari .joylar-p1 .joylar-text {
  width: 100%;
  padding-top: 100px;
  font-family: "Philosopher";
  font-size: 40px;
  text-align: center;
}
.continer main .klub-joylari .joylar-p1 .joylar-p {
  width: 100%;
  padding-top: 25px;
  font-family: "Roboto";
  color: #363434;
  text-align: center;
}
.continer main .klub-joylari .joylar-list {
  width: 100%;
  height: 1354px;
  background-image: url("/images_otlar/gazon.png");
}
.continer main .klub-joylari .joylar-list .list1 {
  width: 1170px;
  padding-top: 50px;
  display: flex;
}
.continer main .klub-joylari .joylar-list .list1 .item1 {
  width: 370px;
  height: 399px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
}
.continer main .klub-joylari .joylar-list .list1 .item1 img {
  margin: -25px 25px 0 25px;
}
.continer main .klub-joylari .joylar-list .list1 .item1 h4 {
  font-size: 23px;
  font-family: "Roboto";
  margin-top: 40px;
}
.continer main .klub-joylari .joylar-list .list1 .item1 h2 {
  width: 40px;
  border-bottom: 3px solid #008139;
  margin-top: 25px;
}
.continer main .klub-joylari .joylar-list .list1 .item1 p {
  margin-top: 25px;
  color: #7E7E7E;
  width: 280px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
}
.continer main .klub-joylari .joylar-list .list1 .item2 {
  width: 370px;
  background-color: white;
  height: 474px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
}
.continer main .klub-joylari .joylar-list .list1 .item2 img {
  margin: -25px 25px 0 25px;
}
.continer main .klub-joylari .joylar-list .list1 .item2 h4 {
  font-size: 23px;
  font-family: "Roboto";
  margin-top: 45px;
}
.continer main .klub-joylari .joylar-list .list1 .item2 h2 {
  width: 40px;
  border-bottom: 3px solid #008139;
  margin-top: 25px;
}
.continer main .klub-joylari .joylar-list .list1 .item2 p {
  margin-top: 25px;
  color: #7E7E7E;
  width: 280px;
  height: 84px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
}
.continer main .klub-joylari .joylar-list .list1 .item3 {
  width: 370px;
  background-color: white;
  height: 399px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
}
.continer main .klub-joylari .joylar-list .list1 .item3 img {
  margin: -25px 25px 0 25px;
}
.continer main .klub-joylari .joylar-list .list1 .item3 h4 {
  font-size: 23px;
  font-family: "Roboto";
  margin-top: 45px;
}
.continer main .klub-joylari .joylar-list .list1 .item3 h2 {
  width: 40px;
  border-bottom: 3px solid #008139;
  margin-top: 25px;
}
.continer main .klub-joylari .joylar-list .list1 .item3 p {
  margin-top: 25px;
  color: #7E7E7E;
  width: 280px;
  height: 50px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
}
.continer main .klub-joylari .joylar-list .list2 {
  width: 1170px;
  display: flex;
}
.continer main .klub-joylari .joylar-list .list2 .item4 {
  width: 370px;
  background-color: white;
  height: 474px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
}
.continer main .klub-joylari .joylar-list .list2 .item4 img {
  margin: -25px 25px 0 25px;
}
.continer main .klub-joylari .joylar-list .list2 .item4 h4 {
  font-size: 23px;
  font-family: "Roboto";
  margin-top: 40px;
}
.continer main .klub-joylari .joylar-list .list2 .item4 h2 {
  width: 40px;
  border-bottom: 3px solid #008139;
  margin-top: 25px;
}
.continer main .klub-joylari .joylar-list .list2 .item4 p {
  margin-top: 25px;
  color: #7E7E7E;
  width: 280px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
}
.continer main .klub-joylari .joylar-list .list2 .item5 {
  width: 370px;
  height: 399px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
  margin-top: 75px;
}
.continer main .klub-joylari .joylar-list .list2 .item5 img {
  margin: -25px 25px 0 25px;
}
.continer main .klub-joylari .joylar-list .list2 .item5 h4 {
  font-size: 23px;
  font-family: "Roboto";
  margin-top: 45px;
}
.continer main .klub-joylari .joylar-list .list2 .item5 h2 {
  width: 40px;
  border-bottom: 3px solid #008139;
  margin-top: 25px;
}
.continer main .klub-joylari .joylar-list .list2 .item5 p {
  margin-top: 25px;
  color: #7E7E7E;
  width: 280px;
  height: 50px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
}
.continer main .klub-joylari .joylar-list .list2 .item6 {
  background-color: white;
  width: 370px;
  height: 474px;
  text-align: center;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}
.continer main .klub-joylari .joylar-list .list2 .item6 img {
  margin: -25px 25px 0 25px;
}
.continer main .klub-joylari .joylar-list .list2 .item6 h4 {
  font-size: 23px;
  font-family: "Roboto";
  margin-top: 45px;
}
.continer main .klub-joylari .joylar-list .list2 .item6 h2 {
  width: 40px;
  border-bottom: 3px solid #008139;
  margin-top: 25px;
}
.continer main .klub-joylari .joylar-list .list2 .item6 p {
  margin-top: 25px;
  color: #7E7E7E;
  width: 280px;
  height: 84px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto";
}
.continer main .klub-joylari .joylar-list .list-bottom {
  width: 100%;
  display: flex;
}
.continer main .klub-joylari .joylar-list .list-bottom .bottom-left {
  margin-top: -195px;
  margin-left: 150px;
  width: 305px;
  height: 530px;
}
.continer main .klub-joylari .joylar-list .list-bottom .bottom-left img {
  width: 100%;
  height: 100%;
}
.continer main .klub-joylari .joylar-list .list-bottom .btn button {
  width: 270px;
  height: 70px;
  margin-top: 50px;
  font-size: 15px;
  font-family: "Montserrat";
  border: none;
  color: #6A5300;
  background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
  box-shadow: 0px 4px 0px #C89C00;
  border-radius: 10px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.continer main .klub-joylari .joylar-list .list-bottom .bottom-right {
  width: 372px;
  height: 532px;
  margin-top: -185px;
  margin-right: 90px;
}
.continer main .klub-joylari .joylar-list .list-bottom .bottom-right img {
  width: 100%;
  height: 100%;
}
.continer main .klub-joylari .joylar-list .bulut {
  width: 100%;
  margin-top: -170px;
}

/*# sourceMappingURL=main.css.map */
